@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use esta área para adicionar mais informações.</p>

<address>
    <p>Mais informações: <a href="https://www.mrinformatica.net.br">BelemTech Tecnologia</a></p>
</address>
